<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<link rel="stylesheet" th:href="@{/css/form-new.css}">
<meta charset="UTF-8">
<title>タスク新規作成</title>



<body>
	<div class="container">
		<h1>タスク新規作成</h1>
		<!--ifなので、エラーのときだけ表示-->
		<p th:if="${error}" th:text="${error}" style="color: red;"></p>
		<form th:action="@{/tasks/new}" method="post">



			<div class="form-group">
				<label>タイトル</label><br>
				<input type="text" name="title">
			</div><br>
			<div class="form-group">
				<label>内容</label><br>
				<!--　↓これは複数行入力可能（inputは１行だけ入力-->
				<textarea name="content" rows="2"></textarea>
			</div><br>
			<div class="form-group">
				<label>登録者</label><br>
				<input type="text" name="name">
			</div><br>
			<div class="form-group">
				<label>開始日</label><br>
				<input type="date" name="startDate">
			</div><br>
			<div class="form-group">
				<label>終了日</label><br>
				<input type="date" name="endDate">
			</div>
			<div class="button-area">
				<!-- formをcontrollerに送るやつ-->
				<button type="submit" class="btn-update">完了</button><br>
				<a th:href="@{/tasks}" class="btn-delete">←キャンセル</a>
			</div>
	</div>
	</form>
</body>