<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<link rel="stylesheet" th:href="@{/css/tasks.css}">
<head>
	<meta charset="UTF-8">
	<title>タスク一覧</title>
	
</head>

<body>
	<div class="container">


		<h1>タスク一覧</h1>
		<div class="header">
		    <a th:href="@{/logout}" class="btn btn-logout">ログアウト</a>
		</div>

		<tr th:if="${#lists.isEmpty(taskList)}">
			<td colspan="9">
				<div class="blue-box">
					🗨️現在タスクは登録されていません。「新規作成」から追加してください。
				</div>
			</td>
		</tr>
		
		<div th:unless="${#lists.isEmpty(taskList)}">
		<table>
			<thead>
				<tr>
					<!--thは見出しという意味-->
					<th>ID</th>
					<th>タイトル</th>
					<th>内容</th>
					<th>登録者</th>
					<th>開始日</th>
					<th>終了日</th>
					<th>作成日時</th>
					<th>更新日時</th>
					<th>操作</th>
				</tr>
			</thead>

			<tbody>
				<tr th:each="task : ${taskList}">
					<!--task.idはtask.Javaに記載あり-->
					<td th:text="${task.id}"></td>
					<td th:text="${task.title}"></td>
					<td th:text="${task.content}"></td>
					<td th:text="${task.name}"></td>
					<td th:text="${task.startDate}"></td>
					<td th:text="${task.endDate}"></td>
					<td th:text="${task.createdAt}"></td>
					<td th:text="${task.updatedAt}"></td>
					<!--表の中の１マスにいれるって感じ-->
					<td>
						<a th:href="@{/tasks/edit/{id}(id=${task.id})}" class="btn btn-edit">編集</a>
						<a th:href="@{/tasks/delete/{id}(id=${task.id})}" onclick="return confirm('削除しますか？');"
							class="btn btn-delete">削除</a>
					</td>
				</tr>
			</tbody>
			<!--		 <!-<a> ... </a>…リンクタグ-href="#"リンク先を指定している->-->

		</table>

		<!-- divは囲うための箱-->
		<div class="pagination">
			<!-- 前ページ：1ページ目ならグレーアウト -->
			   <span th:if="${currentPage == 1}" class="page-disabled">&laquo; 前</span>

			   <a th:if="${currentPage > 1}"
			      th:href="@{/tasks(page=${currentPage - 1})}">
			       &laquo; 前
			   </a>
			   
			   <a th:each="i : ${#numbers.sequence(1, totalPages)}"
			         th:href="@{/tasks(page=${i})}"
			         th:text="${i}"
			         th:classappend="${i == currentPage} ? ' active' : ''">
			      </a>

				  <span th:if="${currentPage == totalPages}" class="page-disabled">次 &raquo;</span>

				      <a th:if="${currentPage < totalPages}"
				         th:href="@{/tasks(page=${currentPage + 1})}">
				          次 &raquo;
				      </a>
		</div>
		</div>
		
		<div class="bottom-area">
			<a th:href="@{/tasks/new}" class="btn btn-create">＋ 新規作成</a>
		</div>

</body>

</html>