
	body {
		/*<!--ブラウザが最初から持ってる余白を消している-->*/
		margin: 0;
		/*		<!--文字の種類、ゴシックとか-->*/
		font-family: "Yu Gothic", "Meiryo", sans-serif;
		/*	<!--画面全体の背景色-->*/
		background-color: white;
	}


	/*	<!--表全体-->*/
	table {
		/*<!--containerの横幅いっぱい-->*/
		width: 100%;
		/*	<!--表の線をくっつける-->*/
		border-collapse: collapse;
		/*<!--表全体の背景を白にする-->*/
		background-color: white;
		/*<!--表の中の文字サイズ-->*/
		font-size: 14px;
	}

	.container {
		width: 80%;
		margin: 50px auto;
		background: white;
		padding: 20px;
		border-radius: 8px;
	}



	form {
		width: 100%;
		/* ← containerに合わせる */
		margin: 0;
		/* ←中央寄せやめる */
	}

	.form-group {
		/*下の余白*/
		margin-bottom: 15px;
	}

	form-group label {
		width: 100px;
		font-weight: bold;
	}

	.form-group input,
	.form-group textarea {
		width: 100%;
		padding: 8px;
		border: 1px solid #ccc;
		border-radius: 4px;
		box-sizing: border-box;
		resize: none;
	}

	.button-area {
		display: flex;
		gap: 10px;
	}

	.btn-update {
		color: white;
		background-color: blue;
		/*丸くする、角をとる*/
		border-radius: 8px;
		padding: 8px 16px;
		cursor: pointer;
		text-decoration: none;
	}

	.btn-delete {
		color: white;
		background-color: gray;
		border-radius: 8px;
		padding: 8px 16px;
		cursor: pointer;
		text-decoration: none;
	}

	input,
	textarea {
		font-family:  "Meiryo", sans-serif;
		font-size: 16px;
	}
	
